.main-container {
    width: 100%;
    height: 100%;

    box-sizing: border-box;
    overflow-x: hidden;
    background-color: #f0f2f5;
    &::-webkit-scrollbar {
        background-color: #f0f2f5;
    }
}
